.transactionHistory {
border-collapse: collapse;
min-width: 700px;
margin: 40px auto;
}

.transactionHistory th {
background-color: #2a2a2a;
color: #ffffff;
}
.transactionHistory th,
.transactionHistory td {
border: 2px solid #2a2a2a;
text-align: center;
font-size: x-large;
}

.transactionHistory tr:nth-child(even) {
background-color: #d3d3d3;
}

.transactionHistory tr td:first-child {
text-transform: capitalize;
font-weight: bold;
}